<div class="container">
  <pre>
        __C_A_N_C_E_L_L_A_T_I_O_N___+——————————————————————————————————————————————————+
            F_O_R_M           |_PNR—NO:             STOCK/TICKET_NO:             |
        +———————————————————————————-——————————————————————————————————————————————————|
        |RANDOM—WINDOW_NO:        RTSA(Y/N):N_LAP/PSG_TO_CNCL: _NO.OF_CANCELLATION:_ __|
        |———-——————-———————————————-——————-————-————-————-————————————————-——————-—————|
        |SNO|TRN—NO|____TRN—NAME___|_DATE_|FROM|_TO_|_CLS|___CNCL_REASON__|_OPT__|_____|
        |———+——————+———————————————+——————+————+————+————+————————————————+——————+—————|
        |_1_|      |               |      |    |    |_  _|                |      |_____|
        |_2_|      |               |      |    |    |_  _|                |      |OK: _|
        |———+——————-—————————-———-—-—-————-————-————-————+————————————————-——-———+—————|
        |___|                |___|___|__DIRECT_JOURNEY___|      MESSAGE      |___|_____|
        |SNO|____NAME        |AGE|SEX|_BKG—STS___CUR—STS_|_BKG—STS___CUR—STS_|OPT|_____|
        |———+————————————————+———+———+—————————-—————————+—————————-—————————+———|_____|
        |_1_|                |   |_ _|         |         |         |         |_ _|_____|
        |_2_|                |   |_ _|         |         |         |         |_ _|_____|
        |_3_|                |   |_ _|         |         |         |         |_ _|_____|
        |_4_|                |   |_ _|         |         |         |         |_ _|_____|
        |_5_|                |   |_ _|         |         |         |         |_ _|—————|
        |_6_|                |   |_ _|         |         |         |         |_ _|OK:  |
        |———-————————————————-———-———-—————————-—————————-—————————-—————————-———-—————|
        |CASH_PAID           :          AMOUNT_DEDUCTED__:                             |
        |AMT_TO_BE_COLLECTED_:          REFUND_AMOUNT____:                             |
        |CARD_NO:                     IDHOLDER_SNO: MOBNO:                 CONT(Y/N):_ |
        +——————————————————————————————————————————————————————————————————————————————+
        </pre>

</div>
