<div class="container">
  <div class="card my-2">
    <div class="card-header py-2 bg-light text-dark font-weight-bold">
      <span>
        Time Table
      </span>
    </div>
    <form [formGroup]="accomodationAvailabilityForm" class="card-body pt-2 pb-0 text-sm" (submit)="fetchAccomodationAvailability()">
      <div class="row">
        <mat-form-field class="col-md-2 col-sm-4 col-12">
          <input formControlName="inputTrainNo" matInput placeholder="Train No." required minlength="5" maxlength="5" (keypress)="onlyNumericInput($event)"
            (keyup)="inputTrainNoChangeFn($event)">
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <mat-error *ngIf="inputTrainNo.invalid">{{getInputTrainNoErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-sm-8 col-12">
          <input formControlName="inputTrainName" matInput placeholder="Train Name">
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <!-- <mat-error *ngIf="inputTrainNo.invalid">{{getInputTrainNoErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12 mx-0">
          <input matInput [matDatepicker]="picker" placeholder="Journey date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month" [startAt]="todayDate"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Station" required>
            <!-- <mat-option>Select Source</mat-option> -->
            <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
              {{stn.stnName}} ({{stn.stnCode}})
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <div class="col-md-3 col-sm-6 col-12 px-3 mb-3">
          <button *ngIf="!accomodationAvailabilityFetched" mat-button color="primary" class="border border-primary rounded w-100 bg-light" type="submit">Fetch Time-Table</button>
          <button *ngIf="accomodationAvailabilityFetched" mat-button color="primary" class="border border-primary rounded w-100 bg-light" (click)="accomodationAvailabilityFetched=false">Reset</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="accomodationAvailabilityFetched" class="card text-sm my-3 text-center">
  <!-- <div *ngIf="true" class="card text-sm my-3 text-center"> -->
    <table class="table table-responsive table-bordered my-0">
      <thead class="text-dark bg-light">
        <tr>
          <th scope="col">#</th>
          <td scope="col">Station Code</td>
          <td scope="col">Station Name</td>
          <td scope="col">Arrival Time</td>
          <td scope="col">Departure Time</td>
          <td scope="col">Distance(km) Code</td>
          <td scope="col">Day</td>
        </tr>
      </thead>
      <tbody class="text-dark">
        <tr *ngFor="let avl of fetchedAccomodationAvailability; let i = index;">
          <td scope="row" class="text-primary">{{i + 1 | number: '2.0-0'}}</td>
          <td>{{avl.stn_Code}}</td>
          <td>{{avl.stn_Name}}</td>
          <td>{{avl.arrival_Time}}</td>
          <td>{{avl.departure_Time}}</td>
          <td>{{avl.distance}}</td>
          <td>{{avl.day}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
