<nav class="navbar navbar-expand-lg navbar-light bg-light text-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-primary" href="#">CONCERT</a>

  <!-- <a class="navbar-brand" href="#">
    <img src="../assets/images/logos/cris_logo.jpeg" width="30" height="30" alt="">
  </a> -->
  <!-- <a class="navbar-brand" href="#">
    <img src="../assets/images/logos/logo_rly_blue.png" width="30" height="30" alt="">
  </a> -->

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a [routerLink]="['']" class="nav-link mr-xl-2">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-xl-2" href="#">Quick Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-xl-2" href="#">Modification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-xl-2" href="#">Cancellation</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/enquiries']" class="nav-link mr-xl-2">Enquiries</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link mr-xl-2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Change Password</a>
          <a [routerLink]="['/dtcTxn']" class="dropdown-item" href="#">DTC transactions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
