<!-- <div class="container-fluid row">
  <div class="col-2 mr-auto">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logos/logo_rly.png" width="30" height="30" alt="">
    </a>
  </div>
  <div>
    <a class="col-2 navbar-brand" href="#">
      <img src="../assets/images/logos/cris_logo.jpeg" width="30" height="30" alt="">
    </a>
  </div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mat-elevation-z2 py-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- <a class="navbar-brand" href="#">
    <img src="../assets/images/logos/logo_rly.png" width="30" height="30" alt="">
  </a> -->
  <a class="navbar-brand text-light font-weight-bold py-0" href="#">CONCERT</a>
  <!-- <a class="navbar-brand text-secondary" href="#">CONCERT</a> -->

  <!-- <a class="navbar-brand" href="#">
    <img src="../assets/images/logos/cris_logo.jpeg" width="30" height="30" alt="">
  </a> -->
  <!-- <a class="navbar-brand" href="#">
    <img src="../assets/images/logos/logo_rly.png" width="30" height="30" alt="">
  </a> -->
  <!-- router.url !== '/home' -->
  <div class="collapse navbar-collapse py-0" id="navbarTogglerDemo03">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0 py-0">
      <li class="nav-item active py-0">
        <a [routerLink]="['']" class="nav-link mr-xl-2 bg-dark text-light border border-6 border-top-0 border-left-0 border-right-0" [ngClass]="{'border-secondary': router.url.startsWith('/home'),  'border-dark': !(router.url.startsWith('/home'))}">Home</a>
      </li>
      <li class="nav-item py-0">
        <a [routerLink]="['quick_book']" class="nav-link mr-xl-2 bg-dark text-light border border-6 border-top-0 border-left-0 border-right-0" [ngClass]="{'border-secondary': router.url.startsWith('/quick_book'),  'border-dark': !(router.url.startsWith('/quick_book'))}" href="#">Quick Book</a>
      </li>
      <li class="nav-item py-0">
        <a [routerLink]="['cancellation']" class="nav-link mr-xl-2 bg-dark text-light border border-6 border-top-0 border-left-0 border-right-0" [ngClass]="{'border-secondary': router.url.startsWith('/cancellation'),  'border-dark': !(router.url.startsWith('/cancellation'))}" href="#">Cancellation</a>
      </li>
      <li class="nav-item py-0">
        <a [routerLink]="['modification']" class="nav-link mr-xl-2 bg-dark text-light border border-6 border-top-0 border-left-0 border-right-0" [ngClass]="{'border-secondary': router.url.startsWith('/modification'),  'border-dark': !(router.url.startsWith('/modification'))}" href="#">Modification</a>
      </li>
      <li class="nav-item py-0">
        <a [routerLink]="['/enquiries']" class="nav-link mr-xl-2 bg-dark text-light border border-6 border-top-0 border-left-0 border-right-0" [ngClass]="{'border-secondary': router.url.startsWith('/enquiries'),  'border-dark': !(router.url.startsWith('/enquiries'))}">Enquiries</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link mr-xl-2 bg-dark text-light dropdown-toggle border border-6 border-top-0 border-left-0 border-right-0" [ngClass]="{'border-secondary': router.url.startsWith('/my'),  'border-dark': !(router.url.startsWith('/my'))}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
          <a [routerLink]="['']" class="dropdown-item bg-dark text-light" href="#">Change Password</a>
          <a [routerLink]="['/my/dtc_txn']" class="dropdown-item bg-dark text-light" href="#">DTC transactions</a>
          <a [routerLink]="['']" class="dropdown-item bg-dark text-light" href="#">Operator Instructions</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]="['']" (click)="logOut.emit()" class="dropdown-item bg-dark text-light" href="#">Logout</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0 py-0 ml-lg-5">
      <li class="nav-item dropdown py-0">
        <a class="nav-link mr-xl-2 bg-dark text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">format_color_fill</i>
        </a>
        <div class="dropdown-menu bg-white text-dark pull-left" style="left: -100px" aria-labelledby="navbarDropdown">
          <a class="bg-white text-dark" (click)="themeOut.emit('')">
            <button mat-mini-fab class="m-1" style="background-color:#2196F3">
              <i *ngIf="themeIn===''" class="material-icons">done</i>
            </button>
          </a>
          <a class="bg-white text-dark" (click)="themeOut.emit('theme-blue-grey')">
            <button mat-mini-fab class="m-1" style="background-color:#607D8B">
              <i *ngIf="themeIn==='theme-blue-grey'" class="material-icons">done</i>
            </button>
          </a>
          <a class="bg-white text-dark" (click)="themeOut.emit('theme-teal')">
            <button mat-mini-fab class="m-1" style="background-color:#009688">
              <i *ngIf="themeIn==='theme-teal'" class="material-icons">done</i>
            </button>
          </a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown py-0">
        <a class="nav-link mr-xl-2 bg-dark text-light font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" (click)="incFontSize()">
          A+
        </a>
      </li>
      <li class="nav-item dropdown py-0">
        <a class="nav-link mr-xl-2 bg-dark text-light font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" (click)="decFontSize()">
          A-
        </a>
      </li> -->
    </ul>
  </div>
</nav>
