<!-- <div class="row mx-1">
  <div class="col-2 mr-auto">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logos/logo_rly_blue.png" width="30" height="30" alt="">
    </a>
  </div>
  <div>
    <a class="col-2 navbar-brand" href="#">
      <img src="../assets/images/logos/cris_logo.jpeg" width="30" height="30" alt="">
    </a>
  </div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mat-elevation-z2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-light font-weight-bold" href="#">CONCERT</a>
  <!-- <a class="navbar-brand text-secondary" href="#">CONCERT</a> -->

  <!-- <a class="navbar-brand" href="#">
    <img src="../assets/images/logos/cris_logo.jpeg" width="30" height="30" alt="">
  </a> -->
  <!-- <a class="navbar-brand" href="#">
    <img src="../assets/images/logos/logo_rly_blue.png" width="30" height="30" alt="">
  </a> -->

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a [routerLink]="['']" class="nav-link mr-xl-2 bg-dark text-light">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['']" class="nav-link mr-xl-2 bg-dark text-light" href="#">Quick Book</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['']" class="nav-link mr-xl-2 bg-dark text-light" href="#">Modification</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['']" class="nav-link mr-xl-2 bg-dark text-light" href="#">Cancellation</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/enquiries']" class="nav-link mr-xl-2 bg-dark text-light">Enquiries</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link mr-xl-2 bg-dark text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
          <a [routerLink]="['']" class="dropdown-item bg-dark text-light" href="#">Change Password</a>
          <a [routerLink]="['/dtcTxn']" class="dropdown-item bg-dark text-light" href="#">DTC transactions</a>
          <a [routerLink]="['']" class="dropdown-item bg-dark text-light" href="#">Operator Instructions</a>
          <div class="dropdown-divider"></div>
          <a [routerLink]="['']" class="dropdown-item bg-dark text-light" href="#">Logout</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link mr-xl-2 bg-dark text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">format_color_fill</i>
        </a>
        <div class="dropdown-menu bg-dark text-light pull-left" style="left: -100px;" aria-labelledby="navbarDropdown">
          <a class="dropdown-item bg-dark text-light" (click)="themeOut.emit('')">Grey</a>
          <a class="dropdown-item bg-dark text-light" (click)="themeOut.emit('theme-blue-grey')">Bluish-Grey</a>
          <a class="dropdown-item bg-dark text-light" (click)="themeOut.emit('theme-pink')">Pink</a>
          <a class="dropdown-item bg-dark text-light" (click)="themeOut.emit('theme-blue')">Blue</a>
          <a class="dropdown-item bg-dark text-light" (click)="themeOut.emit('theme-blue-orange')">Blue & Orange</a>
          <a class="dropdown-item bg-dark text-light" (click)="themeOut.emit('theme-indigo')">Indigo</a>
          <a class="dropdown-item bg-dark text-light" (click)="themeOut.emit('theme-teal')">Teal</a>
        </div>
      </li>
    </ul>
    <!-- <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a (click)="openDialog()" class="nav-link mr-xl-2 bg-dark text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">format_color_fill</i>
        </a>
      </li>
    </ul> -->
  </div>
</nav>
