<!-- <div class="">
  <button mat-mini-fab class="m-1" style="background-color:#9E9E9E" (click)="changeTheme('')">
    <i *ngIf="data.theme===''" class="material-icons">done</i>
  </button>
  <button mat-mini-fab class="m-1" style="background-color:#607D8B" (click)="changeTheme('theme-blue-grey')">
    <i *ngIf="data.theme==='theme-blue-grey'" class="material-icons">done</i>
  </button>
  <button mat-mini-fab class="m-1" style="background-color:#009688" (click)="changeTheme('theme-teal')">
    <i *ngIf="data.theme==='theme-teal'" class="material-icons">done</i>
  </button>
  <button mat-mini-fab class="m-1" style="background-color:#3F51B5" (click)="changeTheme('theme-indigo')">
    <i *ngIf="data.theme==='theme-indigo'" class="material-icons">done</i>
  </button>
</div> -->

<!-- <h1 mat-dialog-title>Hi {{data.theme}}</h1> -->
<!-- <div mat-dialog-content> -->
  <button mat-mini-fab class="m-1" style="background-color:#9E9E9E" (click)="changeTheme('')">
    <i *ngIf="data.theme===''" class="material-icons">done</i>
  </button>
  <button mat-mini-fab class="m-1" style="background-color:#607D8B" (click)="changeTheme('theme-blue-grey')">
    <i *ngIf="data.theme==='theme-blue-grey'" class="material-icons">done</i>
  </button>
  <button mat-mini-fab class="m-1" style="background-color:#009688" (click)="changeTheme('theme-teal')">
    <i *ngIf="data.theme==='theme-teal'" class="material-icons">done</i>
  </button>
  <button mat-mini-fab class="m-1" style="background-color:#3F51B5" (click)="changeTheme('theme-indigo')">
    <i *ngIf="data.theme==='theme-indigo'" class="material-icons">done</i>
  </button>
<!-- </div> -->
<!-- <div mat-dialog-actions>
  <button mat-button (click)="changeTheme()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.theme" cdkFocusInitial>Ok</button>
</div> -->
