<div class="container px-0">
  <div class="card my-2 p-0 mat-elevation-z0">
    <div class="card-header py-2 bg-light text-dark font-weight-bold">
      <span>
        Search & book train tickets
      </span>
    </div>
    <div class="card-body pt-2 pb-0">
      <form class="row" (submit)="findTrains.emit();modify=true" >
        <mat-form-field class="col-lg-3 col-md-6 col-12 mx-0">
          <input type="text" placeholder="Origin" aria-label="Number" matInput [formControl]="origin" [matAutocomplete]="autoOrigin" required
          (blur)="selectOrigin()">
          <mat-autocomplete #autoOrigin="matAutocomplete">
            <mat-option *ngFor="let option of filteredOriginOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-6 col-12 mx-0">
          <input type="text" placeholder="Destination" aria-label="Number" matInput [formControl]="destin" [matAutocomplete]="autoDestin" required
          (blur)="selectDestin()">
          <mat-autocomplete #autoDestin="matAutocomplete">
            <mat-option *ngFor="let option of filteredDestinOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="col-lg-3 col-md-6 col-12 mx-0">
          <input matInput [matDatepicker]="picker" name="journeyDate" autocomplete="off" placeholder="Journey date (dd-mm-yyyy)" required>
          <!-- <mat-hint>dd-mm-yyyy</mat-hint> -->
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month" [startAt]="journeyDate" disabled="false"></mat-datepicker>
        </mat-form-field>
        <!-- <button *ngIf="!modify" mat-raised-button class="col-lg-3 col-md-6 col-12 h-75 mx-0 my-2 text-primary" type="submit">Find Trains</button>
        <button *ngIf="modify" mat-raised-button class="col-lg-3 col-md-6 col-12 h-75 mx-0 my-2 text-primary" type="submit">Modify Search</button> -->
        <div class="col-lg-3 col-md-6 col-12 px-3 mb-3 my-2">
          <button *ngIf="!modify" mat-button color="primary" class="border border-primary rounded w-100 bg-light" type="submit">Find Trains</button>
          <button *ngIf="modify" mat-button color="primary" class="border border-primary rounded w-100 bg-light" type="submit">Modify Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
