<div class="container">
    <pre>
        _____M_O_D_I_F_I_C_A_T_I_O_N      +———————————————————————————————————————————+
            F_O_R_M              |__PNR_NO.:            STOCK_NO:            |
        +—————————————————————————————————-———————————————————————————————————————————|
        |____TRAIN_NO.:       TRAIN_NAME:                  RTSA(Y/N):N__SOURCE:       |
        |__DESTINATION:                DATE:_  —            CLASS:      QUOTA:        |
        |_CLUSTER_DATE:_  —                NO._OF_PASSENGER(S)_TO_BE_MODIFIED:        |
        |—————-—————————————————-—————-—————-————————————-———————————-——————-—————————|
        |S.NO.|NAME_OF_PASSENGER|_SEX_|_AGE_|_TICKET_NO._|__STATUS___|OPTION|_CHOICE__|
        |—————+—————————————————+—————+—————+————————————+———————————+——————+—————————|
        |__1._|                 |__ __|_   _|            |           |      |         |
        |__2._|                 |__ __|_   _|            |           |      |         |
        |__3._|                 |__ __|_   _|            |           |      |         |
        |__4._|                 |__ __|_   _|            |           |      |         |
        |__5._|                 |__ __|_   _|            |           |      |         |
        |__6._|                 |__ __|_   _|            |           |      |         |
        |—————-—————————————————-—————-—————-————————————-———————————-——————+—————————|
        |                       NEW__JOURNEY__DETAILS                       |_OK?:_ __|
        |———————————————————————————————————————————————————————————————————-—————————|
        |QUOTA:_  _DATE:_  —  __TRAIN_NO:       TO:       TRAIN_NAME:                 |
        |CLASS:_  _CLUS_DATE:_  —  _CLUS_CLASS:_  _CLUS_ENROUTE:      CLUS_VIA:       |
        |AMOUNT_TO_BE_COLLECTED_CASH:       RTC:       REFUNDS:       PROCEED(Y/N):_ _|
        |TATKAL_IDENTIFICATION_NUMBER:                                                |
        +—————————————————————————————————————————————————————————————————————————————+


        </pre>

</div>
