<div class="container">
  <div class="card my-2">
    <div class="card-header py-2 bg-light text-dark font-weight-bold">
      <span>
        Modify Ticket
      </span>
    </div>
    <form [formGroup]="accomodationAvailabilityForm" class="card-body pt-2 pb-0 text-sm" (submit)="fetchAccomodationAvailability()">
      <div class="row">
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <input formControlName="inputTrainNo" matInput placeholder="PNR No." required minlength="10" maxlength="10" (keypress)="onlyNumericInput($event)"
            >
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <mat-error *ngIf="inputTrainNo.invalid">{{getInputTrainNoErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <input formControlName="randomWindowNo" matInput placeholder="Stock No." required minlength="1" maxlength="10" (keypress)="onlyNumericInput($event)"
            >
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <mat-error *ngIf="randomWindowNo.invalid">{{getRandomWindowNoErrorMessage()}}</mat-error>
        </mat-form-field>
        <div class="col-md-3 col-sm-6 col-12 px-3 mb-3">
            <button *ngIf="!accomodationAvailabilityFetched" mat-button color="primary" class="border border-primary rounded w-100 bg-light" type="submit">Submit</button>
            <button *ngIf="accomodationAvailabilityFetched" mat-button color="primary" class="border border-primary rounded w-100 bg-light" (click)="accomodationAvailabilityFetched=false">Reset</button>
          </div>
      </div>
    </form>
  </div>

  <div *ngIf="accomodationAvailabilityFetched">
  <!-- <div *ngIf="true"> -->
    <div class="card my-3">
      <div class="card-header py-1 text-secondary bg-light">
        Journey Details
      </div>
      <div class="card-body row text-dark px-4 py-2 text-sm">
        <span class="col-lg-3 col-md-4 col-12 bg-light mx-0 my-1 px-3 py-1">
          Train No.: 12560
        </span>
        <span class="col-lg-3 col-md-4 col-12 bg-light mx-0 my-1 px-3 py-1">
          Train Name: NDLS DBRT RJDHN
        </span>
        <span class="col-lg-3 col-md-4 col-12 bg-light mx-0 my-1 px-3 py-1">
          Journey Date: 12-05-2018
        </span>
        <span class="col-lg-3 col-md-4 col-12 bg-light mx-0 my-1 px-3 py-1">
          From: New Delhi(NDLS)
        </span>
        <span class="col-lg-3 col-md-4 col-12 bg-light mx-0 my-1 px-3 py-1">
          To: Ballia(BUI)
        </span>
        <span class="col-lg-3 col-md-4 col-12 bg-light mx-0 my-1 px-3 py-1">
          Boarding Stn: Allahabad(ALD)
        </span>
        <span class="col-lg-3 col-md-4 col-12 bg-light mx-0 my-1 px-3 py-1">
          Class: 2A
        </span>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-header py-1 text-secondary bg-light">
        Passenger Details
      </div>
      <div class="card-body row text-dark px-4 py-2 text-sm">
        <table class="table table-responsive table-bordered my-0">
          <thead class="text-dark bg-light">
            <tr>
              <th scope="col">#</th>
              <td scope="col">Name</td>
              <td scope="col">Sex</td>
              <td scope="col">Age</td>
              <td scope="col">Booking Status</td>
              <td scope="col">Current Status</td>
              <td scope="col">Berth Preference</td>
              <td scope="col">Select</td>
            </tr>
          </thead>
          <tbody class="text-dark">
            <tr *ngFor="let avl of fetchedAccomodationAvailability; let i = index;">
              <td scope="row" class="text-primary">{{i + 1 | number: '2.0-0'}}</td>
              <td>{{avl.name}}</td>
              <td>{{avl.sex}}</td>
              <td>{{avl.age}}</td>
              <td>{{avl.bkg_status}}</td>
              <td>{{avl.cur_status}}</td>
              <td>
                <mat-form-field class="m-0 p-0">
                  <mat-select placeholder="Berth Preference" required>
                    <!-- <mat-option value="">Select Class</mat-option> -->
                    <mat-option value="1A">Lower Berth</mat-option>
                    <mat-option value="1A">Middle Berth</mat-option>
                    <mat-option value="1A">Upper Berth</mat-option>
                    <mat-option value="1A">Side Lower Berth</mat-option>
                    <mat-option value="1A">Side Upper Berth</mat-option>
                  </mat-select>
                  <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
                    <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
                </mat-form-field>
              </td>
              <td><mat-checkbox></mat-checkbox></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-2 col-12 mx-auto">
      <button type="button" mat-raised-button color="primary" (click)="false">
        Modify Ticket
      </button>
    </div>
  </div>
</div>
