<div class="container">
  <div class="card my-2">
    <div class="card-header py-2 bg-light text-dark font-weight-bold">
      <span>
        Book Train ticket
      </span>
    </div>
    <!-- <form [formGroup]="accomodationAvailabilityForm" class="card-body pt-2 pb-0 text-sm" (submit)="fetchAccomodationAvailability()" (keyup.control.1)="helpMsg.push('Help Message')"> -->
    <form [formGroup]="accomodationAvailabilityForm" class="card-body pt-2 pb-0 text-sm" (submit)="fetchAccomodationAvailability()" (keyup.control.1)="showHelp()">
      <div class="row">
        <mat-form-field class="col-md-2 col-sm-4 col-12">
          <input formControlName="inputTrainNo" matInput placeholder="Train No." name="TrainNo" autocomplete="off" required minlength="5" maxlength="5" (keypress)="onlyNumericInput($event)"
            (keyup)="inputTrainNoChangeFn($event)">
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <mat-error *ngIf="inputTrainNo.invalid">{{getInputTrainNoErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-sm-8 col-12">
          <input formControlName="inputTrainName" matInput placeholder="Train Name">
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <!-- <mat-error *ngIf="inputTrainNo.invalid">{{getInputTrainNoErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12 mx-0">
          <input matInput [matDatepicker]="picker" name="journeyDate" autocomplete="off" placeholder="Journey date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month" [startAt]="todayDate" disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Quota" required>
            <!-- <mat-option value="">Select Quota</mat-option> -->
            <mat-option value="GN">GENERAL</mat-option>
            <mat-option value="LD">LADIES</mat-option>
            <mat-option value="TQ">TATKAL</mat-option>
            <mat-option value="PT">PREMIUM TATKAL</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Source" required (change)="infoMsg = 'NEW DELHI  Arrival Time : 00:00   Departure Time : 18:55'">
            <!-- <mat-option>Select Source</mat-option> -->
            <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
              {{stn.stnName}} ({{stn.stnCode}})
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Destination" required (change)="infoMsg = 'MANDUADIH Arrival Time : 07:00 Departure Time : 00:00'">
            <!-- <mat-option>Select Destination</mat-option> -->
            <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
              {{stn.stnName}} ({{stn.stnCode}})
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Class" required (change)="infoMsg = 'DATE : 15/ 1  AVAILABILITY STATUS :  AVAILABLE 16'">
            <!-- <mat-option value="">Select Class</mat-option> -->
            <mat-option value="1A">AC 1 Tier</mat-option>
            <mat-option value="2A">AC 2 Tier</mat-option>
            <mat-option value="3A">AC 3 Tier</mat-option>
            <mat-option value="3E">AC 3 Economy</mat-option>
            <mat-option value="CC">AC Chair Car</mat-option>
            <mat-option value="1A">Sleeper</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select formControlName="noOfPsgn" placeholder="No. of Passengers" required>
            <!-- <mat-option value="">Select Class</mat-option> -->
            <mat-option value="0">None</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Enroute Point" required (change)="infoMsg = 'MANDUADIH Arrival Time : 07:00 Departure Time : 00:00'">
            <!-- <mat-option>Select Destination</mat-option> -->
            <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
              {{stn.stnName}} ({{stn.stnCode}})
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Via Point" required (change)="infoMsg = 'NEW DELHI  Arrival Time : 00:00   Departure Time : 18:55'">
            <!-- <mat-option>Select Source</mat-option> -->
            <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
              {{stn.stnName}} ({{stn.stnCode}})
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Reservation Upto" required (change)="infoMsg = 'MANDUADIH Arrival Time : 07:00 Departure Time : 00:00'">
            <!-- <mat-option>Select Destination</mat-option> -->
            <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
              {{stn.stnName}} ({{stn.stnCode}})
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Boarding Point" required (change)="infoMsg = 'NEW DELHI  Arrival Time : 00:00   Departure Time : 18:55'">
            <!-- <mat-option>Select Source</mat-option> -->
            <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
              {{stn.stnName}} ({{stn.stnCode}})
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <!-- <div class="col-md-3 col-sm-6 col-12 px-3 mb-3">
          <button *ngIf="!accomodationAvailabilityFetched" mat-button color="primary" class="border border-primary rounded w-100 bg-light" type="submit">Submit</button>
          <button *ngIf="accomodationAvailabilityFetched" mat-button color="primary" class="border border-primary rounded w-100 bg-light" (click)="accomodationAvailabilityFetched=false">Reset</button>
        </div> -->
      </div>
      <mat-accordion>
        <!-- <mat-expansion-panel [disabled]="!panelOpenState" [hideToggle]="!panelOpenState" class="mat-elevation-z0 p-0" [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false"> -->
        <mat-expansion-panel class="row mat-elevation-z0 p-0">
          <mat-expansion-panel-header class="col-12 h-50 px-2 py-1">
            Advanced Route Options
          </mat-expansion-panel-header>
          <mat-form-field class="col-md-3 col-sm-6 col-12">
            <mat-select placeholder="Enroute Point" required (change)="infoMsg = 'MANDUADIH Arrival Time : 07:00 Departure Time : 00:00'">
              <!-- <mat-option>Select Destination</mat-option> -->
              <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
                {{stn.stnName}} ({{stn.stnCode}})
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>
          <mat-form-field class="col-md-3 col-sm-6 col-12">
            <mat-select placeholder="Via Point" required (change)="infoMsg = 'NEW DELHI  Arrival Time : 00:00   Departure Time : 18:55'">
              <!-- <mat-option>Select Source</mat-option> -->
              <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
                {{stn.stnName}} ({{stn.stnCode}})
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>
          <mat-form-field class="col-md-3 col-sm-6 col-12">
            <mat-select placeholder="Reservation Upto" required (change)="infoMsg = 'MANDUADIH Arrival Time : 07:00 Departure Time : 00:00'">
              <!-- <mat-option>Select Destination</mat-option> -->
              <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
                {{stn.stnName}} ({{stn.stnCode}})
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>
          <mat-form-field class="col-md-3 col-sm-6 col-12">
            <mat-select placeholder="Boarding Point" required (change)="infoMsg = 'NEW DELHI  Arrival Time : 00:00   Departure Time : 18:55'">
              <!-- <mat-option>Select Source</mat-option> -->
              <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
                {{stn.stnName}} ({{stn.stnCode}})
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
    <div *ngIf="(infoMsg !== '') || (infoMsg.length !== 0)" class="card-footer py-2 bg-white text-danger ">
      <span *ngIf="infoMsg !== ''">{{infoMsg}}</span>
      <!-- <ul *ngIf="infoMsg.length !== 0">
        <li *ngFor="let msg of infoMsg">{{msg}}</li>
      </ul> -->
    </div>
  </div>
  <app-passenger-list *ngIf="noOfPsgn.value>0" [noOfPsgn]="noOfPsgn.value"></app-passenger-list>
  <div *ngIf="noOfPsgn.value>0" class="col-md-2 col-12 mx-auto">
    <button type="button" mat-raised-button color="primary" (click)="false">
      Book Ticket
    </button>
  </div>
</div>
