<!-- <h2 mat-dialog-title>Login</h2> -->
<mat-dialog-content>
  <form class="" *ngIf="!loadingSpinner">
    <mat-form-field>
      <input matInput placeholder="User ID" value="" [(ngModel)]="userid" name="userid">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  <button mat-raised-button (click)="login()" class="bg-light w-100 text-primary">Login</button>    
  </form>
  <div *ngIf="loadingSpinner">
    Authenticating...
    <mat-spinner ></mat-spinner>
  </div>
</mat-dialog-content>
<!-- <mat-dialog-actions>
</mat-dialog-actions> -->

