<div class="container">
  <div class="mx-auto mb-5" style="width: 400px;">
    <span class="h3">DTC Transaction Details</span>
  </div>
  <div tabindex="0" class="card m-outline0 bg-light mb-3" [class.mat-elevation-z0]="activeCard!=='headCard'" [class.mat-elevation-z18]="activeCard==='headCard'"
    (click2)="activeCard='headCard'">
    <!-- <div class="card-header">User Details</div>  -->
    <div class="card-body">
      <div class="col-sm-3 float-left border">BKG DATE:12:12:2017</div>
      <div class="col-sm-3 float-left border">TIME:10: 50: 27</div>
      <div class="col-sm-3 float-left border">PRS_ID: D</div>
      <div class="col-sm-3 float-left border">LOC_ID: NDLS</div>
      <div class="col-sm-3 float-left border">TRML_NO: 8</div>
      <div class="col-sm-3 float-left border">WND_NO: 112</div>
      <div class="col-sm-3 float-left border">SHIFT_NO: 1</div>
      <div class="col-sm-3 float-left border">OPER_NO: 1</div>
      <div class="col-sm-3 float-left border">OPER_ID: ANKITP</div>
    </div>
  </div>

  <div tabindex="0" class="card m-outline0 border-info mb-4" [class.mat-elevation-z0]="activeCard!=='totalsCard'" [class.mat-elevation-z18]="activeCard==='totalsCard'"
    (click2)="activeCard='totalsCard'">
    <div class="card-header bg-info text-white">TOTALS </div>
    <div class="card-body text-info">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-info text-white">RECEIVED</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-2 float-left">CASH: 10660</div>
            <div class="col-md-2 float-left">CARD: 0</div>
            <div class="col-md-2 float-left">DIGI: 0</div>
            <div class="col-md-2 float-left">RTC: 0</div>
            <div class="col-md-2 float-left">VCH: 0</div>
            <div class="col-md-2 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-info text-white">REFUND</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-2 float-left">CASH: 7480</div>
            <div class="col-md-2 float-left">CARD: 0</div>
            <div class="col-md-2 float-left">DIGI: 0</div>
            <div class="col-md-2 float-left">RTC: 0</div>
            <div class="col-md-2 float-left">VCH: 0</div>
            <div class="col-md-2 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-6 float-left">CAN FEE: 3180</div>
          <div class="col-sm-6 float-left">CLERKAGE: 0</div>
        </li>
      </ul>
    </div>
  </div>
  <div tabindex="0" class="card m-outline0 border-secondary mb-4" [class.mat-elevation-z0]="activeCard!=='tktCard001'" [class.mat-elevation-z18]="activeCard==='tktCard001'"
    (click2)="activeCard='tktCard001'">
    <div class="card-header">
      <!-- <div class="col-sm-3 float-left">SLP: 1</div> -->
      <div class="col-sm-3 float-left">PNR: 2550355806</div>
    </div>
    <div class="card-body text-secondary">
      <ul class="col-sm-12 list-group list-group-flush">
        <li class="list-group-item">
          <div class="col-sm-3 float-left">TRAIN NO: 12560</div>
          <div class="col-sm-3 float-left">CLASS: 1A</div>
          <div class="col-sm-3 float-left">JRNY_DATE: 12-12</div>
          <div class="col-sm-3 float-left">NDLS-MUV</div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">RECEIVED</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 10660</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">REFUNDS</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 7480</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">FARE BREAKUP</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">BASE FARE: 7480</div>
            <div class="col-md-3 float-left">RES FEE: 0</div>
            <div class="col-md-3 float-left">SF CH: 0</div>
            <div class="col-md-3 float-left">OTHER CHARGE: 0</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div tabindex="0" class="card m-outline0 border-secondary mb-4" [class.mat-elevation-z0]="activeCard!=='tktCard002'" [class.mat-elevation-z18]="activeCard==='tktCard002'"
    (click2)="activeCard='tktCard002'">
    <div class="card-header">
      <!-- <div class="col-sm-3 float-left">SLP: 1</div> -->
      <div class="col-sm-3 float-left">PNR: 2550355806</div>
    </div>
    <div class="card-body text-secondary">
      <ul class="col-sm-12 list-group list-group-flush">
        <li class="list-group-item">
          <div class="col-sm-3 float-left">TRAIN NO: 12560</div>
          <div class="col-sm-3 float-left">CLASS: 1A</div>
          <div class="col-sm-3 float-left">JRNY_DATE: 12-12</div>
          <div class="col-sm-3 float-left">NDLS-MUV</div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">RECEIVED</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 10660</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">REFUNDS</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 7480</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">FARE BREAKUP</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">BASE FARE: 7480</div>
            <div class="col-md-3 float-left">RES FEE: 0</div>
            <div class="col-md-3 float-left">SF CH: 0</div>
            <div class="col-md-3 float-left">OTHER CHARGE: 0</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div tabindex="0" class="card m-outline0 border-secondary mb-4" [class.mat-elevation-z0]="activeCard!=='tktCard003'" [class.mat-elevation-z18]="activeCard==='tktCard003'"
    (click2)="activeCard='tktCard003'">
    <div class="card-header">
      <!-- <div class="col-sm-3 float-left">SLP: 1</div> -->
      <div class="col-sm-3 float-left">PNR: 2550355806</div>
    </div>
    <div class="card-body text-secondary">
      <ul class="col-sm-12 list-group list-group-flush">
        <li class="list-group-item">
          <div class="col-sm-3 float-left">TRAIN NO: 12560</div>
          <div class="col-sm-3 float-left">CLASS: 1A</div>
          <div class="col-sm-3 float-left">JRNY_DATE: 12-12</div>
          <div class="col-sm-3 float-left">NDLS-MUV</div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">RECEIVED</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 10660</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">REFUNDS</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 7480</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">FARE BREAKUP</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">BASE FARE: 7480</div>
            <div class="col-md-3 float-left">RES FEE: 0</div>
            <div class="col-md-3 float-left">SF CH: 0</div>
            <div class="col-md-3 float-left">OTHER CHARGE: 0</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div tabindex="0" class="card m-outline0 border-secondary mb-4" [class.mat-elevation-z0]="activeCard!=='tktCard004'" [class.mat-elevation-z18]="activeCard==='tktCard004'"
    (click2)="activeCard='tktCard004'">
    <div class="card-header">
      <!-- <div class="col-sm-3 float-left">SLP: 1</div> -->
      <div class="col-sm-3 float-left">PNR: 2550355806</div>
    </div>
    <div class="card-body text-secondary">
      <ul class="col-sm-12 list-group list-group-flush">
        <li class="list-group-item">
          <div class="col-sm-3 float-left">TRAIN NO: 12560</div>
          <div class="col-sm-3 float-left">CLASS: 1A</div>
          <div class="col-sm-3 float-left">JRNY_DATE: 12-12</div>
          <div class="col-sm-3 float-left">NDLS-MUV</div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">RECEIVED</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 10660</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">REFUNDS</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 7480</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">FARE BREAKUP</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">BASE FARE: 7480</div>
            <div class="col-md-3 float-left">RES FEE: 0</div>
            <div class="col-md-3 float-left">SF CH: 0</div>
            <div class="col-md-3 float-left">OTHER CHARGE: 0</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div tabindex="0" class="card m-outline0 border-secondary mb-4" [class.mat-elevation-z0]="activeCard!=='tktCard005'" [class.mat-elevation-z18]="activeCard==='tktCard005'"
    (click2)="activeCard='tktCard005'">
    <div class="card-header">
      <!-- <div class="col-sm-3 float-left">SLP: 1</div> -->
      <div class="col-sm-3 float-left">PNR: 2550355806</div>
    </div>
    <div class="card-body text-secondary">
      <ul class="col-sm-12 list-group list-group-flush">
        <li class="list-group-item">
          <div class="col-sm-3 float-left">TRAIN NO: 12560</div>
          <div class="col-sm-3 float-left">CLASS: 1A</div>
          <div class="col-sm-3 float-left">JRNY_DATE: 12-12</div>
          <div class="col-sm-3 float-left">NDLS-MUV</div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">RECEIVED</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 10660</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">REFUNDS</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">CASH: 7480</div>
            <div class="col-md-3 float-left">RTC: 0</div>
            <div class="col-md-3 float-left">VCH: 0</div>
            <div class="col-md-3 float-left">CST: 0</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2 float-left bg-secondary text-white">FARE BREAKUP</div>
          <div class="col-sm-10 float-left">
            <div class="col-md-3 float-left">BASE FARE: 7480</div>
            <div class="col-md-3 float-left">RES FEE: 0</div>
            <div class="col-md-3 float-left">SF CH: 0</div>
            <div class="col-md-3 float-left">OTHER CHARGE: 0</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>