<div class="bg-light p-2 pl-0">
<!-- <div class="row bg-light p-2 pl-0 mr-2" style="width:300px"> -->
  <!-- <div class="text-lg text-dark text-center">Refine Results</div> -->
  <div class="bg-white p-2 pl-0 m-1">
    <div class="text-md text-primary mb-2 text-center">Journey Classes</div>
    <div><mat-checkbox checked="true">First AC (1A)</mat-checkbox></div>
    <div><mat-checkbox checked="true">Second AC (2A)</mat-checkbox></div>
    <div><mat-checkbox checked="true">Third AC (3A)</mat-checkbox></div>
    <div><mat-checkbox checked="true">Chair Car (CC)</mat-checkbox></div>
    <div><mat-checkbox checked="true">Sleeper Class (SL)</mat-checkbox></div>
  </div>
  <div class="bg-white p-2 pl-0 m-1">
    <div class="text-md text-primary mb-2 text-center">Train Types</div>
    <div><mat-checkbox checked="true">Duronto</mat-checkbox></div>
    <div><mat-checkbox checked="true">Garib Rath</mat-checkbox></div>
    <div><mat-checkbox checked="true">Other</mat-checkbox></div>
    <div><mat-checkbox checked="true">Rajdhani</mat-checkbox></div>
    <div><mat-checkbox checked="true">Special</mat-checkbox></div>
    <div><mat-checkbox checked="true">Special Tatkal</mat-checkbox></div>
  </div>
  <div class="bg-white p-2 pl-0 m-1">
    <div class="text-md text-primary mb-2 text-center">New Delhi (NDLS)</div>
    <div><mat-checkbox checked="true">Delhi S Rohilla (DEE)</mat-checkbox></div>
    <div><mat-checkbox checked="true">Delhi Cant (DEC)</mat-checkbox></div>
    <div><mat-checkbox checked="true">H Nizamuddin (NZM)</mat-checkbox></div>
    <div><mat-checkbox checked="true">New Delhi (NDLS)</mat-checkbox></div>
  </div>
  <div class="bg-white p-2 pl-0 m-1">
    <div class="text-md text-primary mb-2 text-center">Mumbai Central (BCT)</div>
    <div><mat-checkbox checked="true">Panvel (PNVL)</mat-checkbox></div>
    <div><mat-checkbox checked="true">Bandra Terminus (BDTS)</mat-checkbox></div>
    <div><mat-checkbox checked="true">C Shivaji Terminus (CSTM)</mat-checkbox></div>
    <div><mat-checkbox checked="true">Borivali (BVI)</mat-checkbox></div>
    <div><mat-checkbox checked="true">Lokmanya Tilak (LTT)</mat-checkbox></div>
    <div><mat-checkbox checked="true">Mumbai Central (BCT)</mat-checkbox></div>
  </div>
</div>
