<div class="container card p-0 my-2">
  <div class="card-header py-2 bg-light text-dark font-weight-bold">
    <span>Enquiries</span>
  </div>
  <div class="row card-body p-2">
    <div class="col-xl-4 col-lg-6 col-12 my-1 mx-0" *ngFor="let enq of enquiriesList; let i = index;">
      <a [routerLink]="['/enquiries/' + enq.path]" class="card py-2 px-1 bg-light text-secondary text-sm cursor-pointer">
        <span class="text-dark"><span class="text-secondary px-1 font-weight-bold">{{numToChar(i+65)}}.</span> {{enq.name}}</span>
      </a>
    </div>
  </div>
</div>
