<div class="container">
  <div class="card my-2">
    <div class="card-header py-2 bg-light text-dark font-weight-bold">
        <span>
          Book Train ticket
        </span>
      </div>
    <form [formGroup]="accomodationAvailabilityForm" class="card-body pt-2 pb-0 text-sm" (submit)="fetchAccomodationAvailability()">
      <div class="row">
        <mat-form-field class="col-md-2 col-sm-4 col-12">
          <input formControlName="inputTrainNo" matInput placeholder="Train No." required minlength="5" maxlength="5" (keypress)="onlyNumericInput($event)"
            (keyup)="inputTrainNoChangeFn($event)">
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <mat-error *ngIf="inputTrainNo.invalid">{{getInputTrainNoErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-sm-8 col-12">
          <input formControlName="inputTrainName" matInput placeholder="Train Name">
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <!-- <mat-error *ngIf="inputTrainNo.invalid">{{getInputTrainNoErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12 mx-0">
          <input matInput [matDatepicker]="picker" placeholder="Journey date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month" [startAt]="todayDate"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Quota" required>
            <!-- <mat-option value="">Select Quota</mat-option> -->
            <mat-option value="GN">GENERAL</mat-option>
            <mat-option value="LD">LADIES</mat-option>
            <mat-option value="TQ">TATKAL</mat-option>
            <mat-option value="PT">PREMIUM TATKAL</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Source" required>
            <!-- <mat-option>Select Source</mat-option> -->
            <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
              {{stn.stnName}} ({{stn.stnCode}})
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Destination" required>
            <!-- <mat-option>Select Destination</mat-option> -->
            <mat-option *ngFor="let stn of stnList" [value]="stn.stnCode">
              {{stn.stnName}} ({{stn.stnCode}})
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Class" required>
            <!-- <mat-option value="">Select Class</mat-option> -->
            <mat-option value="1A">AC 1 Tier</mat-option>
            <mat-option value="2A">AC 2 Tier</mat-option>
            <mat-option value="3A">AC 3 Tier</mat-option>
            <mat-option value="3E">AC 3 Economy</mat-option>
            <mat-option value="CC">AC Chair Car</mat-option>
            <mat-option value="1A">Sleeper</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="No. of Passengers" required>
            <!-- <mat-option value="">Select Class</mat-option> -->
            <mat-option value="0">None</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <!-- <div class="col-md-3 col-sm-6 col-12 px-3 mb-3">
          <button *ngIf="!accomodationAvailabilityFetched" mat-button color="primary" class="border border-primary rounded w-100 bg-light" type="submit">Fetch Availability</button>
          <button *ngIf="accomodationAvailabilityFetched" mat-button color="primary" class="border border-primary rounded w-100 bg-light" (click)="accomodationAvailabilityFetched=false">Reset</button>
        </div> -->
      </div>
    </form>
  </div>
    

<!-- <pre>
    CONCESSION
    RESERVATION_(FORM_2)
_+————————————————————————————————————————————————————————————————————————————+
_|RTSATXN(Y/N):N        TRAIN_NO.:        TRAIN_NAME:                         |
_|       DATE:_  _—_  _JRNY_FROM:         OLD_(Y/N):              CLASS:      |
_|      QUOTA: GN     JOURNEY_TO:          NUM_PSGN:        CLUSTER_CLS:      |
_|_ENROUTE_PT:            VIA_PT:           RESUPTO:        BOARDING_PT:      |
_|_TKT.STATUS:_S__RESTR_OVERRIDE:           VIPCODE: N     COACH_CHOICE:      |
_|__CARD_TYPE:       CARD_NUMBER:                          PAID_RES_CLS:      |
_|————-—————————————————-———-—————-————————-————————-——————-————————————-—————|
_|S.NO|_PASSENGER_NAME__|SEX|_AGE_|_CHOICE_|__CONC__|_STN__|FORM/TKT—NO_|_CLS_|
_|————+—————————————————+———+—————+————————+————————+——————+————————————+—————|
_|__1_|                 |_ _|_   _|        |        |      |            |_  __|
_|__2_|                 |_ _|_   _|        |        |      |            |_  __|
_|__3_|                 |_ _|_   _|        |        |      |            |_  __|
_|__4_|                 |_ _|_   _|        |        |      |            |_  __|
_|__5_|                 |_ _|_   _|        |        |      |            |_  __|
_|__6_|                 |_ _|_   _|        |        |      |            |_  __|
_|————-—————————————————-———-—————-————————-————————-——————-————————————-—————|
_|_ON_TRAIN_NO:      ON_TRN_DATE_:  —  _RETURN_CLS:  _ON_FROM:    _ON_TO:    _|
_|_ON_MSG_STN_:      RESFEE_(Y/N): _SLPCHRG(Y/N):        SUPCHRG_(Y/N):       |
_|_RET_CONC_VLD_UPTO:_  —  —      MOB_NO:               CONTINUE_(Y/N):       |
_+————————————————————————————————————————————————————————————————————————————+
%FLDTOBFILLED, Mandatory field, Value has to be entered


</pre> -->

</div>