<div class="container">
  <div class="card my-2">
    <div class="card-header py-2 text-secondary bg-light">
      <span>
        Passengers Cancelled after Charting
      </span>
    </div>
    <form [formGroup]="accomodationAvailabilityForm" class="card-body text-dark pt-2 pb-0 text-sm" (submit)="fetchAccomodationAvailability()">
      <div class="row">
        <mat-form-field class="col-md-2 col-sm-4 col-12">
          <input formControlName="inputTrainNo" matInput placeholder="Train No." required minlength="5" maxlength="5" (keypress)="onlyNumericInput($event)"
            (keyup)="inputTrainNoChangeFn($event)">
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <mat-error *ngIf="inputTrainNo.invalid">{{getInputTrainNoErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-4 col-sm-8 col-12">
          <input formControlName="inputTrainName" matInput placeholder="Train Name">
          <!-- <mat-hint align="start">Enter Train no.</mat-hint> -->
          <!-- <mat-hint align="end">or Enter PNR no.</mat-hint> -->
          <!-- <mat-error *ngIf="inputTrainNo.invalid">{{getInputTrainNoErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12">
          <mat-select placeholder="Class" required multiple>
            <!-- <mat-option value="">Select Class</mat-option> -->
            <mat-option value="1A">AC 1 Tier</mat-option>
            <mat-option value="2A">AC 2 Tier</mat-option>
            <mat-option value="3A">AC 3 Tier</mat-option>
            <mat-option value="3E">AC 3 Economy</mat-option>
            <mat-option value="CC">AC Chair Car</mat-option>
            <mat-option value="1A">Sleeper</mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
              <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>
        <mat-form-field class="col-md-3 col-sm-6 col-12 mx-0">
          <input matInput [matDatepicker]="picker" placeholder="Journey date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month" [startAt]="todayDate"></mat-datepicker>
        </mat-form-field>
        <div class="col-md-3 col-sm-6 col-12 px-3 mb-3">
          <button *ngIf="!accomodationAvailabilityFetched" mat-button color="primary" class="border border-primary rounded w-100" type="submit">Submit</button>
          <button *ngIf="accomodationAvailabilityFetched" mat-button color="accent" class="border border-secondary rounded w-100" (click)="accomodationAvailabilityFetched=false">Reset</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="accomodationAvailabilityFetched">
    <!-- <div *ngIf="true"> -->
    <div class="card my-3">
      <table class="table table-responsive table-bordered">
        <thead class="text-dark bg-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">PNR No.</th>
            <td scope="col">Name</td>
            <td scope="col">Sex</td>
            <td scope="col">Age</td>
            <td scope="col">Quota</td>
            <td scope="col">Vacant Berths</td>
            <td scope="col">Source</td>
            <td scope="col">Destination</td>
          </tr>
        </thead>
        <tbody class="text-dark">
          <tr *ngFor="let avl of fetchedAccomodationAvailability; let i = index;">
            <td scope="row" class="text-primary">{{i + 1 | number: '2.0-0'}}</td>
            <td>{{avl.pnr}}</td>
            <td>{{avl.name}}</td>
            <td>{{avl.sex}}</td>
            <td>{{avl.age}}</td>
            <td>{{avl.quota}}</td>
            <td>{{avl.berth}}</td>
            <td>{{avl.src}}</td>
            <td>{{avl.dest}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
