<mat-drawer-container autosize class="bg-white">
  <mat-drawer #drawer mode="side">
    <app-filter-train-list></app-filter-train-list>
  </mat-drawer>

  <div class="container bg-light my-3 py-2 rounded">
    <div class="row">
      <div class="col-lg-10 col-md-8 col-12 text-secondary font-weight-bold">
        <div>
          NEW DELHI (NDLS)
          <i class="material-icons vertical-align-middle">trending_flat</i>
          BALLIA (BUI)
        </div>
        <div class="mx-2 font-weight-normal">
          {{trainList.length}} trains found.
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-12 pull-right mt-2 mt-md-0">
        <button type="button" mat-raised-button class="w-100" color="primary" (click)="drawer.toggle()">
          Refine Results
        </button>
      </div>
    </div>
  </div>
  <div class="container bg-light rounded py-2 px-0 px-lg-2">
    <div class="my-2" *ngFor="let train of trainList; let i = index;">
      <app-train [train]="train" [index]=i [selected]="selected" (trainSelected)="selected=i"></app-train>
    </div>
  </div>
</mat-drawer-container>

