/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import './assets/styles/custom-theme';

// //  --------- custom THEME begins ---------
@import 'node_modules/bootstrap/scss/functions';

// @import './assets/styles/custom-theme';
// @import './assets/styles/theme-brown';
@import './assets/styles/theme-teal';

$theme-colors: (
  primary: mat-color($theme-primary),
  secondary: mat-color($theme-accent),
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #F44336,
  light: mat-color($theme-primary, 50),
  dark: mat-color($theme-primary, 900)
);

@import 'node_modules/bootstrap/scss/bootstrap';
// //  --------- custom THEME ends ---------

/* ------ vertical align CSS begins ------- */
.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-middle {
  vertical-align: middle;
}

/* ------ vertical align CSS ends ------- */

/* ------- onFocus Outline CSS begins -----------  */
div:focus {
  outline:none !important;
  border-color: theme-color("primary") !important;
  box-shadow:0 0 2px theme-color("primary") !important;
}
:focus {
  outline-color: theme-color("primary") !important;
}
/* ------- onFocus Outline CSS ends -----------  */

/* ------------- font size CSS begins ---------------- */
html {
  font-size: 0.99rem;
}

.text-xxxl {
  font-size: 1.8rem;
}
.text-xxl {
  font-size: 1.6rem;
}

.text-xl {
  font-size: 1.4rem;
}

.text-lg {
  font-size: 1.2rem;
}

.text-md {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.8rem;
}

.text-xs {
  font-size: 0.6rem;
}

.text-xxs {
  font-size: 0.4rem;
}

.text-xxxs {
  font-size: 0.2rem;
}
/* ------------- font size CSS ends ---------------- */

/* ----------------pointer CSS begins--------------------- */
.cursor-pointer {
  cursor: pointer;
}
/* ----------------pointer CSS ends--------------------- */
