@import '../node_modules/@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-light-blue);
$theme-accent: mat-palette($mat-light-blue);
$theme-warn: mat-palette($mat-red);

$theme-light-blue: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme-light-blue);
