@import '../node_modules/@angular/material/theming';

@include mat-core();

$theme-brown-primary: mat-palette($mat-brown);
$theme-brown-accent: mat-palette($mat-brown, 600, 500, 800);
$theme-brown-warn: mat-palette($mat-red);

$theme-brown: mat-light-theme($theme-brown-primary, $theme-brown-accent, $theme-brown-warn);

@include angular-material-theme($theme-brown);

$theme-colors: (
  primary: #795548,
  secondary: #795548,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #F44336,
  light: #EFEBE9,
  dark: #3E2723
);
