@import '../node_modules/@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-deep-purple);
$theme-accent: mat-palette($mat-deep-purple);
$theme-warn: mat-palette($mat-red);

$theme-deep-purple: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme-deep-purple);
