<!-- <div tabindex="0" class="train_div card mb-2" [class.mat-elevation-z0]="index!==selected" [class.mat-elevation-z10]="index===selected" -->
  <div tabindex="0" class="train_div card mb-2"
  (focus)="trainSelected.emit(index)">
  <div class="card-body text-secondary py-0">
    <ul class="col-sm-12 list-group list-group-flush py-0">
      <li class="list-group-item py-2">
        <div class="row">
          <div class="col-4 text-lg">
            <div class="text-info">
              <span class="material-icons vertical-align-middle">train</span>
              <span>{{train.trainName}}({{train.trainNumber}})</span>
            </div>
          </div>
          <div class="row col-6 text-center">
            <div class="col-4">
              <div class="text-xl">
                {{train.departureTime}}
              </div>
              <div class="text-sm">
                {{train.fromStnCode}}
              </div>
            </div>
            <div class="col-4">
              <div class="text-xl">
                {{train.arrivalTime}}
              </div>
              <div class="text-sm">
                {{train.toStnCode}}
              </div>
            </div>
            <div class="col-4">
              <div class="text-xl">
                {{train.duration}}
              </div>
              <!-- <div class="text-sm">
                {{train.fromStnCode}}
              </div> -->
            </div>
          </div>
          <div class="col-2 pull-right vertical-align-middle">
            <button mat-raised-button class="col-12 mx-0 float-right text-info" type="submit">Check Availability</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
