<div class="card" (click)="trainSelected.emit(index)" (focus)="trainSelected.emit(index)">
  <div class="card-body text-primary px-2 pr-md-0 py-2">
    <div class="row">
      <div class="col-lg-4 col-8 text-md">
        <div class="text-primary">
          <span class="material-icons vertical-align-middle">train</span>
          <span>{{train.trainName}}({{train.trainNumber}})</span>
        </div>
      </div>
      <div class="d-lg-none col-4">
        <div class="text-primary w-100">
          <button *ngIf="!panelOpenState" mat-button color="primary" class="border rounded bg-light w-100 text-sm px-0" (click)="panelOpenState = true">Check Availability</button>
          <button *ngIf="panelOpenState" mat-button color="primary" class="border rounded bg-light w-100" (click)="panelOpenState = true">
            <i class="material-icons">loop</i>
          </button>
        </div>
      </div>
      <div class="row col-lg-6 col-12 text-center text-md">
        <div class="col-4">
          <div>
            {{train.departureTime}}
          </div>
          <div class="text-xs text-primary">
            {{train.fromStnCode}}
          </div>
        </div>
        <div class="col-4">
          <div>
            {{train.arrivalTime}}
          </div>
          <div class="text-xs text-primary">
            {{train.toStnCode}}
          </div>
        </div>
        <div class="col-4">
          <div>
            {{train.duration}}
          </div>
          <div class="text-xs text-primary">
            Avg. Delay: 30m
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-2 col-12 px-4 py-2 py-lg-0">
      <!-- <div class="col-lg-2 col-12 px-4 py-2 py-lg-0"> -->
        <button *ngIf="!panelOpenState" mat-button color="primary" class="border rounded bg-light mx-auto" (click)="panelOpenState = true">Check Availability</button>
        <button *ngIf="panelOpenState" mat-button color="primary" class="border rounded bg-light w-100" (click)="panelOpenState = true">
          <i class="material-icons">loop</i>
        </button>
      </div>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel [disabled]="!panelOpenState" [hideToggle]="!panelOpenState" class="mat-elevation-z0 p-0" [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="h-50 px-2 py-1">
        <div class="col-12 text-primary text-sm">
          Runs On: Tue, Thu, Fri & Sun
        </div>
        <div class="col-md-3 col-12 pull-right px-1 text-secondary" style="text-align: right;">
        </div>
      </mat-expansion-panel-header>
      <div class="table-responsive">
        <table class="table table-bordered text-center m-0">
          <thead class="text-dark bg-light">
            <tr>
              <td scope="col" class="py-1">{{todayDate | date: 'dd-MM-yyyy'}}</td>
              <td scope="col" class="py-1">{{todayDate | date: 'dd-MM-yyyy'}}</td>
              <td scope="col" class="py-1">{{todayDate | date: 'dd-MM-yyyy'}}</td>
              <td scope="col" class="py-1">{{todayDate | date: 'dd-MM-yyyy'}}</td>
              <td scope="col" class="py-1">{{todayDate | date: 'dd-MM-yyyy'}}</td>
              <td scope="col" class="py-1">{{todayDate | date: 'dd-MM-yyyy'}}</td>
            </tr>
          </thead>
          <tbody class="text-dark">
            <tr>
              <td scope="row" class="text-primary py-1">
                <div>PQWL26/WL25</div>
                <button mat-button class="text-secondary bg-secondary-light w-100 px-1 py-0">Book</button>
              </td>
              <td scope="row" class="text-primary py-1">
                <div>AVAILABLE 20</div>
                <button mat-button class="text-secondary bg-secondary-light w-100 px-1 py-0">Book</button>
              </td>
              <td scope="row" class="text-primary py-1">
                <div>PQWL26/WL25</div>
                <button mat-button class="text-secondary bg-secondary-light w-100 px-1 py-0">Book</button>
              </td>
              <td scope="row" class="text-primary py-1">
                <div>PQWL26/WL25</div>
                <button mat-button class="text-secondary bg-secondary-light w-100 px-1 py-0">Book</button>
              </td>
              <td scope="row" class="text-primary py-1">
                <div>AVAILABLE 20</div>
                <button mat-button class="text-secondary bg-secondary-light w-100 px-1 py-0">Book</button>
              </td>
              <td scope="row" class="text-primary py-1">
                <div>PQWL26/WL25</div>
                <button mat-button class="text-secondary bg-secondary-light w-100 px-1 py-0">Book</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
